doctype
head   
    title Mi primera página web en EDTEAM
    meta(name="viewport" content="") 
    <link rel="stylesheet" href="css/styles.css">

body.main#front-page
    h1(style={color:"red", "font-size":"2em"}) Bienvenidos

