doctype
head   
    title Mi primera página web en EDTEAM
    meta(name="viewport" content="") 
    <link rel="stylesheet" href="css/styles.css">

body.main#front-page
    h1(style={color:"red", "font-size":"2em"}) Bienvenidos

    ul
        li 
            a(href="#") 
            | Item 1
            ul
                li SubItem 1
                li SubItem 2
        li Item 2
        li Item 3
        li Item 4